<!DOCTYPE html>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Frijole' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" type="text/css" href="/styles.css">
            <meta charset="UTF-8">
            <title>tshirt.ly</title>
        </head>
        <body>
            <nav class="navbar navbar-default navbarinverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsingNav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <p class="navbar-brand">tshirt.ly</p>

                    </div>

                    <div class="collapse navbar-collapse" id="collapsingNav">

                        <ul class="nav navbar-nav navbar-right">

                            <li><a data-toggle="modal" data-target="#biggerBoat">Sign up to purchase</a></li>
                            <li><a data-toggle="modal" data-target="#admin">
                                Admin
                            </a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container">
                <h1 class = "bold text-center">tshirt.ly</h1>
                <div class="modal fade" id="admin">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Admin log-in</h4>
                            </div>
                            <div class="modal-body">
                                <form action="/admin_confirm" method="POST">
                                    <div class="form-group">
                                        <p>Enter Password:</p>
                                        <input class="form-control" type = "password" name = "password">
                                    </div>
                                    <button class="btn btn-default btn-sm" type="submit">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="biggerBoat">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal"></button>
                                <h4 class="modal-title" id="myModalLabel">Sign up</h4>
                            </div>
                            <div class="modal-body">
                                <p>On tshirt.ly you don't need a password, but you must sign up to buy t-shirts!</p>
                                <form action="/users/" method="POST">
                                    <div class="form-group">
                                    <input class="form-control" type="text" id ="email" name = "email" placeholder="Your e-mail" required>
                                    <input class="form-control" type="text" id ="username" name = "name" placeholder="User name" required>
                                </div>
                                <button type="submit" class="btn btn-default btn-sm">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <% tshirts.each do |tshirt| %>
                <div class = "shirt"><img src="<%= tshirt.img %>"/></div>
                <div class= "price"><p>$<%= tshirt.price %></p></div>
                <button type="button" class="btn btn-primary selectShirt" data-toggle="modal" data-target="#<%= tshirt.color %>">
                Select
                </button>
                <div class="modal fade" id="<%= tshirt.color %>">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <h3 class="modal-title">limited <%= tshirt.color%> shirt</h3>
                                <img src="<%= tshirt.img%>">
                                <form class = "form-quantity" action="/transaction/<%= tshirt.id %>" id = "purchasing" method="POST">
                                    <input type="hidden" name="_method" value="PUT">
                                    <div>
                                        <input type="number" name = "quantity" min="1" max="<%= tshirt.quantity %>"> <span><i><%= tshirt.quantity%> left in stock</i></span>
                                    </div>
                                    <div>
                                        <h5> Enter email to complete purchase </h5>
                                        <input type="email" name="email" placeholder="email here" required>
                                    </div>
                                    <button type = "submit" class="btn btn-primary btn-sm center-block" role="button">Submit</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <% end %>
            </body>
        </html>