<!DOCTYPE html>
<html lang="en">
    <head>
        <link href='http://fonts.googleapis.com/css?family=Frijole' rel='stylesheet' type='text/css'>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" type="text/css" href="/styles.css">
            <meta charset="UTF-8">
            <title>tshirtly</title>
        </head>
        <body>
            <h2 class = "bold text-center">tshirt.ly</h2>
            <button id="log" type="button" class="btn btn-warn2ing btn-md" data-toggle="modal" data-target="#biggerBoat">
            Log In
            </button>
            <div class="modal fade" id="biggerBoat">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal"></button>
                            <h4 class="modal-title" id="myModalLabel">Log In</h4>
                        </div>
                        <div class="modal-body">
                            <form action="/users/new" method="POST">
                                <input type="text" id ="email" name = "name" placeholder="Your e-mail">
                                <input type="text" id ="username" name = "email" placeholder="User name">
                                <button type="submit" id ="info"> Log In </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <% tshirts.each do |tshirt| %>
            <div class = "shirt"><img src="<%= tshirt.img %>"/></div>
            <div class= "price"><p>$<%= tshirt.price %></p></div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#<%= tshirt.color %>">
            Select
            </button>
            <div class="modal fade" id="<%= tshirt.color %>">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h3 class="modal-title">limited <%= tshirt.color%> shirt</h3>
                            <img src="<%= tshirt.img%>">
                            <form action="/transaction/<%= tshirt.id %>" method="POST">
                                <input type="hidden" name="_method" value="PUT">
                                <div id="form-quantity">
                                    <input type="number" name = "quantity" min="1" max="<%= tshirt.quantity %>"> <span><i><%= tshirt.quantity%> left in stock</i></span>
                                </div>
                                <div>
                                    <h5> Enter email to complete purchase </h5>
                                    <input type="email" name="email" placeholder="email here">
                                </div>

                                <button data-toggle="modal" data-target="#confirmModal" type = "submit" class="btn btn-primary" role="button">Submit</button>
                            </form>
                            <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title">Purchase confirmed.</h4>
                                        </div>
                                        <div class="modal-body">
                                            Thank you!
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                        </div>
                                        </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                        </div><!-- /.modal -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% end %>

                    </body>
                </html>