<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <meta charset="UTF-8">
  <title><%= character.name %></title>
</head>
<body>
  <h1><%= character.name %></h1>
  <div>
    <a href="/user/<%= user.id %>/edit">Edit</a>  
  </div>
  <img src="<%= user.image_url %>" />
  <p>From House 
    <a href="/houses/<%=.house.id %>">
      <%= character.house.name %>
    </a>
  </p>
</body>
</html>
